@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark_background: #212121;
  --dark_color: white;
  --light_background: #F0F2F2;
  --light_color: #212121;
}

body{
  background-color: var(--dark_background);
  color: var(--dark_color);
  // background-color: var(--light_background);
  // color: var(--light_color);
}